@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base logic for dark mode background to match standard dark palettes usually found in Tailwind */
@layer base {
    body {
        @apply bg-surface-50 text-surface-900 dark:bg-surface-950 dark:text-surface-0 transition-colors duration-300;
    }
}